<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{30} - %msg%n"/>
        </Console>
        <Console name="stderr" target="SYSTEM_ERR">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{30} - %msg%n"/>
        </Console>
        <RollingRandomAccessFile name="LogToFile" fileName="sports-booking-sniper.log"
                                 filePattern="logs/sports-booking-sniper-%d{yyyy-MM-dd}.log.gz">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="7"/>
            </Policies>
            <DefaultRolloverStrategy max="7"/>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <Logger name="de.chrisgw.sportsbookingsniper" level="info"/>
        <Logger name="de.chrisgw.sportsbookingsniper.buchung.steps" level="debug"/>
        <Root level="warn">
            <AppenderRef ref="LogToFile"/>
        </Root>
    </Loggers>
</Configuration>
